<ng-container *ngIf="images">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper" >
                <img [src]="images[0].src" alt="Random first slide" (click)="Getfilteredproducts(images[0].Categoryid)" />
            </div>
            <div class="carousel-caption">
                <h3>First slide label</h3>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[1].src" alt="Random second slide"  (click)="Getfilteredproducts(images[1].Categoryid)"/>
            </div>
            <div class="carousel-caption">
                <h3>Second slide label</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img [src]="images[2].src" alt="Random third slide" (click)="Getfilteredproducts(images[2].Categoryid)" />
            </div>
            <div class="carousel-caption">
                <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </ng-template>
    </ngb-carousel>
</ng-container>
